<ul>
    <li>C</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 57%; height:10px; background-color: #101010;"></div>
    </div><br>
    <li>FreeRTOS</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 30%; height:10px; background-color: #101010;"></div>
    </div><br>
    <li>Python</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 60%; height:10px; background-color: #101010;"></div>
    </div><br>
    <li>KiCAD</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 80%; height:10px; background-color: #101010;"></div>
    </div><br>
    <li>Git</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 60%; height:10px; background-color: #101010;"></div>
    </div><br>
    <li>Linux</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 75%; height:10px; background-color: #101010;"></div>
    </div><br>
    <li>Javacript</li>
    <div style="width: 100%; background-color: #ddd;">
      <div style="width: 20%; height:10px; background-color: #101010;"></div>
    </div><br>
</ul>
